server:
  port: 9999

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
        
        - id: book-service
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/books/**
        
        - id: emprunt-service
          uri: lb://EMPRUNT-SERVICE
          predicates:
            - Path=/emprunts/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-service:8761/eureka
    register-with-eureka: true
    fetch-registry: true